// ___________________________________________________________________
// Helpers
// ___________________________________________________________________

// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Center Alignment
%centered {
  text-align: center;
}

// Rounded Image
%img-circle {
  border-radius: 50%;
}

// Uppercase
%allcaps {
  text-transform: uppercase;
}
