// ___________________________________________________________________
// Containers
// ___________________________________________________________________

// Card Layout

.card {
  text-align: center;
  float: left;
  display: block;

  p {
    font-weight: $font-weight--light;
    padding: 0 1rem 45px;
    font-size: .95em;
  }

  img {
    padding: 1px;
  }
}


// Portfolio Layout

.portfolio {
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
