// ___________________________________________________________________
// Footer
// ___________________________________________________________________

.main_footer {
  min-height: 125px;
  background-color: $extra-light-gray;
  margin: 0;
  padding-top: 2rem;

  a, p {
    @include text(.75em, $font-weight--extra-bold, $dark-gray);
    padding: 1rem 2rem 1rem;
    display: block;

    @media #{$brkpoint-md} {
      padding: 1rem 2rem 2rem;
    }
  }

  a:hover {
    color: $fountain-blue;
  }

  p {
    float: left;
  }
}

.footer_nav {
  float: right;

  li {
    @media #{$brkpoint-md} {
      display: inline-block;
      margin-left: -40px;
    }
  }
}

.footer_links {
  @extend %allcaps;

  @media #{$brkpoint-sm} {
    display: none;
  }
}

#mobile_footer {
  @extend %allcaps;

  @media #{$brkpoint-md} {
    display: none;
  }
}
