// ___________________________________________________________________
// Footer
// ___________________________________________________________________

.main_footer {
  min-height: 125px;
  background-color: $extra-light-gray;
  margin: 0;
  padding-top: 2rem;

  a, p {
    padding: 1rem 2rem 1rem;
    font-size: .75em;
    font-weight: $font-weight--extra-bold;
    color: $dark-gray;
    display: block;
  }

  a:hover {
    color: $fountain-blue;
  }

  p {
    float: left;
  }
}

.footer_nav {
  float: right;
}

.footer_links,
#mobile_footer {
  text-transform: uppercase;
}
