// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary;
  line-height: $base__line;

  @media #{$brkpoint-lg} {
    background-color: $extra-light-gray;
  }
}

h1 {
  @include text($base__font-size, $font-weight--extra-bold, $dark-gray);
  @extend %centered;
}

h2 {
  @include text($base__font-size, $font-weight--bold, $dark-gray);
  @extend %centered;
  @extend %allcaps;
  margin: 0;
}

h3 {
  font-weight: $font-weight--semi-bold;
  color: $black;
  margin: 0;
  padding: 20px 0 10px;
}

p {
  @include text($base__font-size, $font-weight--regular);
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%; // Add width to fix Firefox/Safari image scaling issue
}

hr {
  margin: 0 2rem;
  background-color: $extra-light-gray;
}
