// ___________________________________________________________________
// Global Layout Set-up
// ___________________________________________________________________

// * {
//   box-sizing: border-box;
// }

// body {
//   font-family: 'Open Sans', sans-serif;
//   line-height: 1.6;
// }

// h1, h2 {
//   font-size: $base__font-size;
//   text-align: center;
//   color: $dark-gray;
// }

// h1 {
//   font-weight: $font-weight--extra-bold;
// }

// h2 {
//   text-transform: uppercase;
//   font-weight: $font-weight--bold;
//   margin: 0;
// }

// h3 {
//   font-weight: $font-weight--semi-bold;
//   color: $black;
//   margin: 0;
//   padding: 20px 0 10px;
// }

// p {
//   font-weight: $font-weight--regular;
//   margin: 0;
// }

// a {
//   text-decoration: none;
// }

// img {
//   max-width: 100%;
//   width: 100%; // Add width to fix Firefox/Safari image scaling issue
// }


// ___________________________________________________________________
// Base Layout Styles
// ___________________________________________________________________

// ----- Navigation -----

.name {
  font-size: 1.5em;
}

.main_nav {
  margin-top: 5px;
}

.name,
.main_nav li {
  text-align: center;
  color: $dark-gray;
  margin: 6px 0;
}

.name,
.main_nav a {
  padding: 10px;
  text-align: center;
  display: block;
}

.main_nav a {
  font-size: .95em;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
  color: $dark-gray;
}

a:hover,
.phone a:hover,
.email a:hover {
  color: $fountain-blue;
}


// ----- Layout Containers -----

// .main_header {
//   padding: .5em 0 45px;
//   margin: 0 auto;
//   background-color: $extra-light-gray;
// }

.bio {
  padding: 0 1em;
  background-color: $extra-light-gray;
}

.portfolio {
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  text-align: center;
  padding: 2rem;
}

// .main_footer {
//   min-height: 125px;
//   background-color: $extra-light-gray;
//   margin: 0;
//   padding-top: 2rem;
// }


// ___________________________________________________________________
// Page Elements
// ___________________________________________________________________

// ----- Bio Section -----

#bio_photo {            // Profile Photo
  display: block;
  border-radius: 100%;
  max-width: 150px;
  position: relative;
  top: 17.5px;
  left: 75px;
}

.bio_photo {            // Photo Background
  max-width: 300px;
  height: 185px;
  background-color: $light-gray;
  margin: 0 auto;
}

.intro {
  font-size: .95em;
  color: $medium-gray;
  text-align: center;
  margin: 0 0 3rem;
  padding-top: 2rem;
}


// ----- Portfolio Section -----

.portfolio h2 {
  padding: 2rem;
  width: 100%;
  margin: 15px 0;
}

.card {
  text-align: center;
  float: left;
  display: block;
}

.card p {
  font-weight: $font-weight--light;
  padding: 0 1rem 45px;
  font-size: .95em;
}

.card img {
  padding: 1px;
}


// ----- Contact Section -----

.contact {
  background-color: $extra-light-gray;
  margin-top: 30px;
}

.contact h2 {
  margin: 10px 0 30px;
}

.message,
.phone,
.email,
.contact a {
  color: $gray;
  font-size: .85em;
}

.phone {
  padding: 30px 0 15px;
}

.contact a {
  font-weight: bold;
  margin-left: 10px;
}

// ----- Footer -----
// hr {
//   margin: 0 2rem;
//   background-color: $extra-light-gray;
// }

// .main_footer a,
// .main_footer p {
//   padding: 1rem 2rem 1rem;
//   font-size: .75em;
//   font-weight: 800;
//   color: $dark-gray;
//   display: block;
// }

// .main_footer a:hover {
//   color: $fountain-blue;
// }

// .main_footer p {
//   float: left;
// }

// .footer_nav {
//   float: right;
// }

// .footer_links,
// #mobile_footer {
//   text-transform: uppercase;
// }


// ----- Float Clearfix -----

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


// ___________________________________________________________________
// Media Queries
// ___________________________________________________________________

// ----- Mobile -----

@media screen and (min-width: $brkpoint-sm) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main_nav a {
    background-color: $white;
  }

  .card {
    padding: 0 .5rem;
  }

  .message {
    margin-top: 1rem;
  }

  .footer_links {
    display: none;
  }

}

// ----- Tablet -----

@media screen and (min-width: $brkpoint-md) {

  .container {
    width: 100%;
  }

  .main_header {
    text-align: center;
    padding-top: 45px;
  }

  .main_nav a {
    background-color: $extra-light-gray;
  }

  .main_nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .bio {
    padding: 0 5% 45px;
  }

  .intro {
    font-size: 1.125em;
    float: left;
    width: 55%;
    text-align: left;
    padding-top: 0;
  }

  .bio_photo {
    float: right;
    width: 45%;
  }

  .portfolio {
    margin: 0 3rem;
  }

  .card {
    width: 50%;
    padding: .175rem;
  }

  .card p {
    padding: 0 1.35rem 45px;
    font-size: 1em;
  }

  .message {
    padding: 0 3rem 2rem;
    margin: 1.5rem 3rem 0;
  }

  .message,
  .phone,
  .email,
  .contact a {
    font-size: 1.125em;
  }

  .phone {
    padding: 0 0 15px;
  }
  .main_footer a,
  .main_footer p {
    padding: 1rem 2rem 2rem;
  }

  .footer_nav li {
    display: inline-block;
    margin-left: -40px;
  }

  #mobile_footer {
    display: none;
  }

}

// ----- Laptop/Desktop -----

@media screen and (min-width: $brkpoint-lg) {

  body {
    background-color: $extra-light-gray;
  }

  .container {
    width: 85%;
    max-width: 1024px;
    margin: 0 auto;
    }

  .main_header {
    text-align: left;
    margin: 35px 0;
    padding: 0;
  }

  .name {
    float: left;
  }

  .main_nav {
    float: right;
  }

  .name,
  .main_nav li {
    display: inline-block;
  }

  .main_nav a {
    padding: 10px 0 10px 10px;
  }

  .bio,
  .portfolio {
    margin: 0 5%;
    padding: 0 2.5% 5%;
  }

  .intro {
    margin: 0;
    padding: 0 0 0 10px;

  }

  #bio_photo {            // Profile Photo
    max-width: 200px;
  }

  .bio_photo {            // Photo Background
    max-width: 350px;
    height: 235px;
  }

  .card {
    width: 32%;
    padding: .25rem;

  }

  .card p {
    font-size: .95em;
    padding: 0 0 45px;
  }

  .contact {
    margin-top: 0;
  }

  .message,
  .phone,
  .email {
    font-size: 1.175em;
  }

  .message {
    margin: 1.5rem 10rem 0;
  }

}

