// ___________________________________________________________________
// Headlines
// ___________________________________________________________________

.name {               // h1
  @include text(1.5em, $color:$dark-gray);
  margin: 6px 0;
  padding: 10px;
}

.portfolio h2 {
  padding: 2rem;
  width: 100%;
  margin: 15px 0;
}

.contact h2 {
  margin: 10px 0 30px;
}
