// ___________________________________________________________________
// Images
// ___________________________________________________________________

// Profile Photo
#bio_photo {
  @extend %img-circle;
  max-width: 150px;
  position: relative;
  top: 17.5px;
  left: 75px;

  @media #{$brkpoint-lg} {
    max-width: 200px;
  }
}

// Photo Background
.bio_photo {
  max-width: 300px;
  height: 185px;
  background-color: $light-gray;
  margin: 0 auto;

  @media #{$brkpoint-md} {
    float: right;
    width: 45%;
  }

  @media #{$brkpoint-lg} {
    max-width: 350px;
    height: 235px;
  }
}
