// ___________________________________________________________________
// Nav
// ___________________________________________________________________

.main_nav {
  margin-top: 5px;

  li {
    @extend %centered;
    color: $dark-gray;
    margin: 6px 0;
  }

  a {
    padding: 10px;
    display: block;
    font-size: .95em;
    font-weight: $font-weight--bold;
    text-transform: uppercase;
    color: $dark-gray;

    &:hover {
      color: $fountain-blue;
    }
  }
}
